:root {
	/* stylelint-disable custom-property-empty-line-before */

	--main-font: 'Montserrat', sans-serif;
	--second-font: 'Merriweather', sans-serif;

	--color-primary: #06e;
	--color-secondary: #fafafa;

	--gray-300: #fafafa;
	--gray-400: #f5f8fa;
	--gray-500: #f5f8fa;

	--background-color: #fff;
	--background-color-negative: #000;

	--color-succes: #11bc4a;
	--color-error: #d21b1b;
	--color-warning: #eea11b;

	--text-color: #1d1d1d;
	--text-color-negative: #fff;

	--button-primary-text: #fff;
	--button-primary-background: var(--color-primary);
	--button-primary-text-hover: #fff;
	--button-primary-background-hover: rgb(0 103 238 / 83%);
	--button-secondary-text: #000;
	--button-secondary-background: #fff;
	--button-secondary-text-hover: #fff;
	--button-secondary-background-hover: #000;

	--link-color: var(--color-primary);
	--link-color-hover: #1261eb;

	--input-border: var(--gray-300);

	--border-radius: 6px;

	/* stylelint-enable custom-property-empty-line-before */
}
