/* stylelint-disable selector-id-pattern */

html,
body,
#__nuxt {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

html {
	&.dark-mode {
		background-color: var(--background-color-negative);
		color: var(--color-primary);
	}
}

body {
	background-color: var(--color-secondary);
	font-family: var(--main-font);
}

a {
	color: var(--link-color);
	cursor: pointer;
	font-weight: 500;
	transition: color 0.3s ease;
	font-size: 16rem;

	&:hover {
		color: var(--link-color-hover);
	}

	&:visited {
		color: var(--link-color);
	}
}

ul,
ol {
	list-style-type: none;
}

.container {
	max-width: 1600px;
}
